.category {
  padding: 50px 0 40px;
}
.category-title {
  font-size: 56px;
  font-weight: 500;
  font-family: var(--font-title);
  color: var(--color-logo);
}

.category-array {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  justify-items: center;
  padding: 32px;
}

.category-array__card {
  font-size: 16px;
  line-height: 0%;
}

.text-p {
  margin: 0 auto;
}

.bg-card {
  background-color: var(--color-logo);
  width: 100%;
}
