.header {
  background-color: var(--color-white);
  justify-content: space-around;
}

.header-logo {
  height: 42px;
}

.list-margin {
  margin: 0 auto;
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-family: var(--font-banner);
  letter-spacing: 2px;
  font-size: 16px;
  color: var(--color-logo);
}

.navbar-nav {
  border: none;
}

.navbar-toggler {
  border: none;
}
.form-control {
  width: 11em;
}

.btn-outline-success {
  color: var(--color-logo);
  border-color: var(--color-logo);
}

.button-header {
  font-family: var(--font-banner);
  letter-spacing: 2px;
  font-size: 16px;
}

.container-menu,
.list-menu__hamburguer {
  display: none;
}

.close-menu {
  display: none;
}
