@media screen and (max-width: 1000px) {
  .header {
    display: none;
  }

  .header-mobile {
    display: block;
    background-color: var(--color-white);
  }

  .container-mobile {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  .container-menu {
    position: absolute;
    background-color: var(--color-gray);
    padding: 16px 10px 10px;
    top: 0;
    right: 0;
    z-index: 2;
    transition: all 300ms ease-in-out;
  }

  .container-menu.soft-block {
    opacity: 1;
  }

  .container-menu.soft-block .menu-hamburguer__close,
  .container-menu.d-none .menu-hamburguer__open {
    animation: menuRotate 200ms ease-in-out reverse;
  }

  @keyframes menuRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  .container-menu .menu-hamburguer__close {
    position: relative;
    float: right;
  }

  .container-menu ul {
    clear: right;
    list-style-type: none;
  }

  .container-menu__hamburguer {
    position: relative;
  }

  .menu-hamburguer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
  }

  .link-menu {
    padding: 8px 0;
  }

  .line {
    border-bottom: 1px solid var(--color-white);
  }

  .search-mobile {
    padding: 0 16px 16px 16px;
  }

  .button-header__search {
    width: 100%;
  }

  /* 

  .container__button:checked ~ .btn-close {
    display: block;
    color: var(--color-white);
  }

  .link-menu {
    font-size: 16px;
  }

  .navbar-mobile {
    flex-wrap: wrap;
  }

  .search-mobile {
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 24px;
  } */

  /* contact */
  .contact-whatsapp {
    right: 8px;
    z-index: 2;
  }

  /* banner */
  .banner {
    display: none;
  }

  .banner-mobile {
    display: inline-block;
    position: relative;
  }

  .banner-mobile__img {
    width: 100%;
  }

  .banner-text-mobile {
    background-color: var(--color-logo);
    color: var(--color-white);
    font-family: var(--font-banner);
    padding: 32px;
  }

  /* categories*/
  .category {
    padding-top: 40px;
  }

  .category-title,
  .bestSellers-title,
  .promotion-title,
  .abouts-title {
    font-size: 2.2rem;
    padding: 16px;
  }

  .category-array {
    display: flex;
    gap: 32px;

    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    padding: 32px;
  }

  .category-array__card {
    width: 40%;
  }
  .category-array__card img {
    width: 100%;
  }

  .card-text {
    font-size: 14px;
  }

  /* bestSellers */
  .bestSellers {
    padding-top: 32px;
  }

  /* about */
  .abouts-description__text {
    border: none;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 0;
    width: 100%;
    padding-bottom: 16px;
    border: 8px dotted white;
    border-top: none;
  }

  /* facilities */

  .facilities-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* news */
  .news {
    margin: 0;
  }

  .news-div {
    width: 70%;
    padding: 24px;
  }

  .news-title {
    font-size: 16px;
  }

  /* footer */
  .footer {
    display: block;
    text-align: center;
  }
}
