@media screen and (max-width: 1000px) {
  .header {
    padding-bottom: 16px;
  }

  .container-menu {
    display: flex;
  }

  .container-menu__hamburguer {
    position: relative;
  }

  .btn-close {
    display: none;
  }

  .lista-menu__hamburguer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    padding: 10px;
    margin: 0;
    z-index: 2;
  }

  .link-menu {
    padding: 8px 0;
  }

  .line {
    border-bottom: 1px solid var(--color-white);
  }

  .container__button {
    display: none;
  }

  .container__button:checked ~ .lista-menu__hamburguer {
    display: block;
    background-color: var(--color-gray);
  }

  .container__button:checked ~ .btn-close {
    display: block;
    color: var(--color-white);
  }

  .link-menu {
    font-size: 16px;
  }

  .navbar-mobile {
    flex-wrap: wrap;
  }

  .search-mobile {
    justify-content: center;
    margin: 0 auto;
  }

  /* contact */
  .contact-whatsapp {
    right: 8px;
    z-index: 2;
  }

  /* banner */
  .banner {
    display: none;
  }

  .banner-mobile {
    display: block;
  }

  .banner-mobile__img {
    display: block;
    height: 100%;
    width: 100%;
  }

  .banner-img {
    width: 100%;
  }

  .banner-text {
    top: 42%;
    margin: 0 auto;
    text-align: center;
    left: 0;
  }

  /* categories*/
  .category {
    padding-top: 40px;
  }

  .category-title,
  .bestSellers-title,
  .promotion-title,
  .abouts-title {
    font-size: 32px;
  }

  .category-array {
    display: flex;
    gap: 32px;

    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    padding: 32px;
  }

  .category-array__card {
    width: 40%;
  }
  .category-array__card img {
    width: 100%;
  }

  .card-text {
    font-size: 13px;
  }

  /* bestSellers */
  .bestSellers {
    padding-top: 32px;
  }

  /* about */
  .abouts-description__text {
    border: none;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 0;
    width: 100%;
    padding-bottom: 16px;
    border: 8px dotted white;
    border-top: none;
  }

  /* facilities */

  .facilities-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* news */
  .news {
    margin: 0;
  }

  .news-div {
    width: 70%;
    padding: 24px;
  }

  .news-title {
    font-size: 16px;
  }

  /* footer */
  .footer {
    display: block;
    text-align: center;
  }
}
