:root {
  --color-logo: #c01515;
  --bs-btn-active-bg: #c01515;
  --color-white: #f7f1ea;
  --color-orange: #f29924;
  --color-green: #53a73e;
  --color-gray: #78847f;

  --font-title: "Barrio", cursive;
  --font-banner: "Asap Condensed", sans-serif;
}
